<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to image_tag('logo.png'), root_path, :class => "brand" %>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
    	<div class="span6">
    		<div class="register-info-wraper">
    			<div id="register-info">
    			
    				<h1>You are about 30 seconds away from using this awesome app. Good choice!</h1>
    			
    				<ul dir="rtl">
    					<li>Blah blah blah</li>
    					<li>That's why this app is so awesome</li>
    					<li>!So register, like, right NOW</li>
    					<li>Or don't, who cares</li>
    				</ul>
    			</div>
    		</div>
    	</div>

    	<div class="span6" id="register-wraper">
    		    <div class="form" id="register-form" >
    		        <%= render :template => "welcome/register" %>
    		    </div>
    		</div>
    	</div>

    </div>
</div>

<footer class="white navbar-fixed-bottom">
  Already have an account? <%= link_to "Sign in", root_path, :class =>"btn btn-black" %>
</footer>
