<div class='painting'>
  <li class="span3">
    <a href="#" cass="thumbnail">
      <%= image_tag painting.image_url(:thumb) %>
      <span class="caption"><i class="icon-plus-sign"></i></span>
    </a>
  </li>
</div>

